# I. IMPORT MODUL

<i>Melakukan import modul pandas, numpy dan juga matplotlib. Chained assignment pada pandas dinon-aktifkan dan format pandas secara global untuk angka diubah menjadi :,.2f</i>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib as mpl
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from jupyterthemes import jtplot

# menonaktifkan chained assignment pada pandas
pd.options.mode.chained_assignment = None  # default='warn'
pd.options.display.float_format = '{:,.2f}'.format

# setting dpi matplotlib
mpl.rcParams['figure.dpi']= 150
%config InlineBackend.figure_format = 'retina'

# setting tema jupyter untuk plotting
jtplot.style(theme='monokai')

# setting formatter untuk floating tanpa koma di belakang
format_float0 = "{:,.0f}".format

# setting periode berdasar data
periode = "2020 - 2022 YTD"

# II. MEMBACA DAN MERUBAH FORMAT DATA PADA DATAFRAME

<p><i>Data yang digunakan dalam analisa ini adalah data penjualan PT Panatrade Caraka 2020 - 2022 (cut off bulan Maret 2022). Data ini didapat dengan menggunakan penggabungan beberapa sales data dalam format csv. Adapun pembersihan terhadap data dilakukan dengan menambahkan kolom 'brand_m' yang merupakan 3 karakter pertama dari kolom 'brand' dan kolom 'division' yang merupakan 1 karakter pertama dari kolom 'categ' serta dilakukan drop kolom untuk 'brand', 'categ' dan '%' setelahnya.</i></p>
<p><i>Kolom 'brand_m' merupakan kolom modifikasi dimana brand hanya menggunakan 3 karakter.<br>
Kolom 'division' merupakan product division dari sku (F untuk Footwear, A untuk Apparel dan H untuk Equipment).<br>
Kolom '%' didrop karena data ini bisa kita generate nantinya.</i></p>

In [ ]:
data = pd.concat(map(pd.read_csv, ['Sales2022.csv', 'Sales2021.csv', 'Sales2020.csv']))
data['brand_m'] = data['brand'].str[:3]
data['division'] = data['categ'].str[:1]
data.drop(['categ', '%', 'brand'], axis=1)
data

In [ ]:
# Merubah dtype beberapa kolom dari object menjadi float64
data.Quantity = data.Quantity.str.replace(',','').astype(float)
data.Bruto = data.Bruto.str.replace(',','').astype(float)
data.Net = data.Net.str.replace(',','').astype(float)
data.Cogs = data.Cogs.str.replace(',','').astype(float)
data.Profit = data.Profit.str.replace(',','').astype(float)
data.dtypes

Berdasarkan data yang diberikan, masih terdapat redundancy pada customer name ('customer') untuk customer code ('Id Cust'). Hal ini dapat dilihat dari jumlah unique 'customer' pada beberapa 'Id Cust' yang nilainya lebih dari 1 seperti dapat dilihat di bawah. Maka dengan demikian beberapa grouping yang akan menggunakan irisan customer akan lebih terkonsentrasi menggunakan 'Id Cust' ketimbang 'customer'.

In [ ]:
data.nunique()

In [ ]:
cust_map = data[['Id Cust', 'customer']].groupby(['Id Cust']).nunique()
print(cust_map.head(10))

# III. MEMILIH DATA

In [ ]:
# Memilih data datara spesifik
data_terpilih = data[['Art', 'brand_m', 'division', 'Quantity', 'Bruto', 'Net', 'Cogs', 'Profit', 'brand', 'Id Cust', 'date']]

# IV. PERHITUNGAN DISKON

$
\begin{align}
disc = \frac{bruto - net}{bruto}
\end{align}
$

In [ ]:
data_terpilih['discount_per_baris'] = (data_terpilih['Bruto'] - data_terpilih['Net']) / data_terpilih['Bruto']
data_terpilih['margin_per_baris'] = (data_terpilih['Net'] - data_terpilih['Cogs']) / data_terpilih['Net']

Terdapat data dengan nilai penjualan bruto sama dengan 0 yang menyebabkan munculnya error pada kolom discount atau infinite karena melakukan pembagian terhadap 0. Seperti dapat dilihat dari data_terpilih.describe() di bawah ini yang menunjukkan bahwa mean dan juga min dari kolom discount adalah -inf. Oleh karena itu pada cell selanjutnya kita akan melakukan drop terhadap baris data dengan penjualan bruto 0.

In [ ]:
# Informasi dasar data_terpilih
print(data_terpilih.describe())

In [ ]:
data_terpilih = data_terpilih[data_terpilih['Bruto'] != 0]
data_terpilih['frekuensi_transaksi'] = 1

# Memisahkan data dengan penjualan normal (tingkat discount di bawah 50%) dan penjualan diskon (tingkat discount di atas dan sama dengan 50%)
data_terpilih_normal = data_terpilih[data_terpilih['discount_per_baris'] < 0.5]
data_terpilih_diskon = data_terpilih[data_terpilih['discount_per_baris'] >= 0.5]

## IV.a SEMUA PENJUALAN

In [ ]:
print(data_terpilih.describe())

## IV.b PENJUALAN NORMAL

In [ ]:
print(data_terpilih_normal.describe())

### IV.b.1 ANALISA BERDASAR TINGKAT DISKON PER BARIS TRANSAKSI

In [ ]:
net_berdasar_disc = data_terpilih_normal[['discount_per_baris', 'Net', 'frekuensi_transaksi']].groupby(['discount_per_baris']).sum()
with pd.option_context('display.max_rows', None):
    print(net_berdasar_disc.sort_values(by=['Net'], ascending=False))

In [ ]:
print(net_berdasar_disc.describe())

### IV.b.2 ANALISA BERDASAR CUSTOMER

In [ ]:
net_berdasar_cust = data_terpilih_normal[['Id Cust', 'Net']].groupby(['Id Cust']).sum()

#### IV.b.2.1 TOTAL NILAI NET SALES

In [ ]:
net_berdasar_cust.sum()

#### IV.b.2.2 NET SALES BERDASAR CUSTOMER

In [ ]:
print(net_berdasar_cust.describe())

#### IV.b.2.3 CUSTOMER DENGAN NILAI TOTAL PENJUALAN DI ATAS RATA - RATA
<i>Berikut adalah kontribusi net sales 2020 - 2022 YTD untuk customer dengan total nilai net sales di atas nilai rata - rata net sales dari semua customer (kecuali PT Prestasi Retail Innovation - 220P001)</i>

In [ ]:
# Menslice customer dengan total nilai Net Sales di atas rata - rata Net Sales
cust_diatas_rerata = net_berdasar_cust.loc[(net_berdasar_cust['Net'] > net_berdasar_cust['Net'].mean()) & 
                                           (net_berdasar_cust.index != "220P001")].sort_values(by=['Net'], ascending=False)
net_mean = net_berdasar_cust['Net'].mean()
total_cust = net_berdasar_cust['Net'].count()
total_cust_diatas_rerata = cust_diatas_rerata['Net'].count()

with pd.option_context('display.max_rows', None):
    print(f'Berikut adalah daftar customer dengan total penjualan di atas rata - rata total penjualan periode {periode} (Rp {format_float0(net_mean)}): \n'
          f'Jumlah customer di atas rata - rata {total_cust_diatas_rerata} orang dari total customer {total_cust} orang\n{cust_diatas_rerata}')

In [ ]:
plt.figure(figsize=(15,10))
plt.barh(cust_diatas_rerata.index, cust_diatas_rerata['Net'], color='purple')
plt.xlabel("Net Sales", fontsize=14)
plt.title(f"Net Sales Customer dengan Total Nilai Net Sales di atas Rata - Rata (Rp {format_float0(net_berdasar_cust['Net'].mean())})", fontsize=18)
plt.gca().xaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))
plt.gca().spines['top'].set_visible(False)
plt.gca().spines['right'].set_visible(False)
plt.gca().spines['bottom'].set_visible(False)
plt.grid(False)
plt.yticks(fontsize=5)
plt.xticks(fontsize=9)
plt.show()

#### IV.b.2.4 TOP 3 CUSTOMER

In [ ]:
net_berdasar_disc_cust = data_terpilih_normal[['Id Cust', 'discount_per_baris', 'Net']].groupby(['Id Cust', 'discount_per_baris']).sum()
print(net_berdasar_disc_cust.iloc[net_berdasar_disc_cust.index.get_level_values('Id Cust') == '104A019'])
print(net_berdasar_disc_cust.iloc[net_berdasar_disc_cust.index.get_level_values('Id Cust') == '101G012'])
print(net_berdasar_disc_cust.iloc[net_berdasar_disc_cust.index.get_level_values('Id Cust') == '105A009'])

### IV.b.3 ANALISA BERDASAR TINGKAT DISKON KESELURUHAN TRANSAKSI

In [ ]:
disc_rerata_cust = data_terpilih_normal[['Id Cust', 'Quantity', 'Bruto', 'Net', 'Cogs', 'frekuensi_transaksi']].groupby(['Id Cust']).sum()
disc_rerata_cust['rerata_disc'] = (disc_rerata_cust['Bruto'] - disc_rerata_cust['Net']) / disc_rerata_cust['Bruto']
disc_rerata_cust['rerata_margin'] = (disc_rerata_cust['Net'] - disc_rerata_cust['Cogs']) / disc_rerata_cust['Net']
disc_rerata_cust['rerata_spending'] = (disc_rerata_cust['Bruto'] / disc_rerata_cust['Quantity'])
disc_rerata_cust['ATV'] = disc_rerata_cust['Net'] / disc_rerata_cust['frekuensi_transaksi']
disc_rerata_cust.sort_values(by='rerata_disc', ascending=False)
disc_rerata_cust

In [ ]:
disc_rerata_cust.nunique()

In [ ]:
disc_rerata_cust['rerata_disc'].unique()

In [ ]:
fig = plt.figure(figsize=(15, 4))

ax1 = fig.add_subplot(131)
ax2 = fig.add_subplot(132)
ax3 = fig.add_subplot(133)

ax1.scatter(disc_rerata_cust['rerata_disc'], disc_rerata_cust['rerata_spending'], c='purple')
ax1.yaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))
ax1.set_title('Distribusi Customer Berdasar Diskon VS Spending', fontsize=10)
ax1.set_xlabel('Rerata Diskon', fontsize=7)
ax1.set_ylabel('Rerata Spending', fontsize=7)
ax1.xaxis.set_tick_params(labelsize=7)
ax1.yaxis.set_tick_params(labelsize=7)

ax2.scatter(disc_rerata_cust['rerata_disc'], disc_rerata_cust['rerata_margin'], c='purple')
# ax2.yaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))
ax2.set_title('Distribusi Customer Berdasar Diskon VS Margin', fontsize=10)
ax2.set_xlabel('Rerata Diskon', fontsize=7)
ax2.set_ylabel('Rerata Margin', fontsize=7)
ax2.xaxis.set_tick_params(labelsize=7)
ax2.yaxis.set_tick_params(labelsize=7)

ax3.scatter(disc_rerata_cust['rerata_disc'], disc_rerata_cust['frekuensi_transaksi'], c='purple')
# ax3.yaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))
ax3.set_title('Distribusi Customer Berdasar Diskon VS Frekuensi Transaksi', fontsize=10)
ax3.set_xlabel('Rerata Diskon', fontsize=7)
ax3.set_ylabel('Frekuensi Transaksi', fontsize=7)
ax3.xaxis.set_tick_params(labelsize=7)
ax3.yaxis.set_tick_params(labelsize=7)
plt.show()

In [ ]:
# pengelompokan berdasar range diskon
n_grup = 5
batas_atas = 0.5 # berdasarkan tingkat diskon penjualan normal

x = []
y = []

for numerator in range(n_grup):
    if numerator == 0:
        x.append("<=" + format(((numerator + 1) / n_grup) * batas_atas, '.0%'))
        y.append(len(disc_rerata_cust[disc_rerata_cust['rerata_disc'] <= ((numerator + 1) / n_grup) * batas_atas]))
    elif numerator + 1 == n_grup:
        x.append(">" + format(((numerator) / n_grup) * batas_atas, '.0%'))
        y.append(len(disc_rerata_cust[disc_rerata_cust['rerata_disc'] > ((numerator) / n_grup) * batas_atas]))
    else:
        x.append(format(((numerator) / n_grup) * batas_atas, '.0%') + "-" + format(((numerator + 1) / n_grup) * batas_atas, '.0%'))
        y.append(len(disc_rerata_cust[(disc_rerata_cust['rerata_disc'] > (numerator / n_grup) * batas_atas) & (disc_rerata_cust['rerata_disc'] <= ((numerator + 1) / n_grup) * batas_atas)]))

plt.figure(figsize=(20, 6))
plt.bar(x,y, color='purple')
plt.grid(False)
plt.gca().spines['left'].set_visible(False)
plt.gca().spines['top'].set_visible(False)
plt.gca().spines['right'].set_visible(False)
plt.title(f'Jumlah Customer Dalam Rentang Diskon ({n_grup} Grup)')
plt.xlabel("Rentang Rerata Diskon", fontsize=12)
plt.ylabel("Jumlah Customer", fontsize=12)
plt.xticks(fontsize=8, rotation='vertical')
plt.yticks(fontsize=8)
plt.show()

### IV.b.4 ANALISA BERDASAR BRAND

#### IV.b.4.1 ANALISA TINGKAT DISKON PER BARIS TRANSAKSI PER BRAND

In [ ]:
data_disc_per_baris_by_brand = data_terpilih_normal[['brand_m', 'discount_per_baris', 'Quantity', 'Net', 'frekuensi_transaksi']].groupby(['brand_m', 'discount_per_baris']).sum()
with pd.option_context('display.max_rows', None):
    print(data_disc_per_baris_by_brand)

#### IV.b.4.2 ANALISA TINGKAT DISKON KESELURUHAN TRANSAKSI PER BRAND

In [ ]:
data_disc_by_brand = data_terpilih_normal[['brand_m', 'Quantity', 'Bruto', 'Net', 'Cogs', 'frekuensi_transaksi']].groupby(['brand_m']).sum()
data_disc_by_brand['discount'] = (data_disc_by_brand['Bruto'] - data_disc_by_brand['Net']) / data_disc_by_brand['Bruto']
data_disc_by_brand['margin'] = (data_disc_by_brand['Net'] - data_disc_by_brand['Cogs'])/ data_disc_by_brand['Net']
data_disc_by_brand

### IV.b.5 ANALISA BERDASAR PRODUCT DIVISION

#### IV.b.5.1 ANALISA TINGKAT DISKON PER BARIS TRANSAKSI PER PRODUCT DIVISION

In [ ]:
data_disc_per_baris_by_div = data_terpilih_normal[['division', 'discount_per_baris', 'Quantity', 'Net', 'frekuensi_transaksi']].groupby(['division', 'discount_per_baris']).sum()
with pd.option_context('display.max_rows', None):
    print(data_disc_per_baris_by_div)

#### IV.b.5.2 ANALISA TINGKAT DISKON KESELURUHAN TRANSAKSI PER PRODUCT DIVISION

In [ ]:
data_disc_by_div = data_terpilih_normal[['division', 'Quantity', 'Bruto', 'Net', 'Cogs', 'frekuensi_transaksi']].groupby(['division']).sum()
data_disc_by_div['discount'] = (data_disc_by_div['Bruto'] - data_disc_by_div['Net']) / data_disc_by_div['Bruto']
data_disc_by_div['margin'] = (data_disc_by_div['Net'] - data_disc_by_div['Cogs'])/ data_disc_by_div['Net']
data_disc_by_div

## IV.c PENJUALAN DISKON

In [ ]:
print(data_terpilih_diskon.describe())

### IV.c.1 ANALISA BERDASAR TINGKAT DISKON PER BARIS TRANSAKSI

In [ ]:
net_berdasar_disc = data_terpilih_diskon[['discount_per_baris', 'Net', 'frekuensi_transaksi']].groupby(['discount_per_baris']).sum()
with pd.option_context('display.max_rows', None):
    print(net_berdasar_disc.sort_values(by=['Net'], ascending=False))

In [ ]:
print(net_berdasar_disc.describe())

### IV.c.2 ANALISA BERDASAR CUSTOMER

In [ ]:
net_berdasar_cust = data_terpilih_diskon[['Id Cust', 'Net']].groupby(['Id Cust']).sum()

#### IV.c.2.1 TOTAL NILAI NET SALES

In [ ]:
net_berdasar_cust.sum()

#### IV.c.2.2 NET SALES BERDASAR CUSTOMER

In [ ]:
print(net_berdasar_cust.describe())

#### IV.c.2.3 CUSTOMER DENGAN NILAI TOTAL PENJUALAN DI ATAS RATA - RATA
<i>Berikut adalah kontribusi net sales 2020 - 2022 YTD untuk customer dengan total nilai net sales di atas nilai rata - rata net sales dari semua customer (kecuali PT Prestasi Retail Innovation - 220P001)</i>

In [ ]:
# Menslice customer dengan total nilai Net Sales di atas rata - rata Net Sales
cust_diatas_rerata = net_berdasar_cust.loc[(net_berdasar_cust['Net'] > net_berdasar_cust['Net'].mean()) & 
                                           (net_berdasar_cust.index != "220P001")].sort_values(by=['Net'], ascending=False)
net_mean = net_berdasar_cust['Net'].mean()
total_cust = net_berdasar_cust['Net'].count()
total_cust_diatas_rerata = cust_diatas_rerata['Net'].count()

with pd.option_context('display.max_rows', None):
    print(f'Berikut adalah daftar customer dengan total penjualan di atas rata - rata total penjualan periode {periode} (Rp {format_float0(net_mean)}): \n'
          f'Jumlah customer di atas rata - rata {total_cust_diatas_rerata} orang dari total customer {total_cust} orang\n{cust_diatas_rerata}')

In [ ]:
plt.figure(figsize=(15,10))
plt.barh(cust_diatas_rerata.index, cust_diatas_rerata['Net'], color='purple')
plt.xlabel("Net Sales", fontsize=14)
plt.title(f"Net Sales Customer dengan Total Nilai Net Sales di atas Rata - Rata (Rp {format_float0(net_berdasar_cust['Net'].mean())})", fontsize=18)
plt.gca().xaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))
plt.gca().spines['top'].set_visible(False)
plt.gca().spines['right'].set_visible(False)
plt.gca().spines['bottom'].set_visible(False)
plt.grid(False)
plt.yticks(fontsize=5)
plt.xticks(fontsize=9)
plt.show()

#### IV.c.2.4 TOP 3 CUSTOMER

In [ ]:
net_berdasar_disc_cust = data_terpilih_diskon[['Id Cust', 'discount_per_baris', 'Net']].groupby(['Id Cust', 'discount_per_baris']).sum()
print(net_berdasar_disc_cust.iloc[net_berdasar_disc_cust.index.get_level_values('Id Cust') == '104A019'])
print(net_berdasar_disc_cust.iloc[net_berdasar_disc_cust.index.get_level_values('Id Cust') == '101B022'])
print(net_berdasar_disc_cust.iloc[net_berdasar_disc_cust.index.get_level_values('Id Cust') == '101G018'])

### IV.c.3 ANALISA BERDASAR TINGKAT DISKON KESELURUHAN TRANSAKSI

In [ ]:
disc_rerata_cust = data_terpilih_diskon[['Id Cust', 'Quantity', 'Bruto', 'Net', 'Cogs', 'frekuensi_transaksi']].groupby(['Id Cust']).sum()
disc_rerata_cust['rerata_disc'] = (disc_rerata_cust['Bruto'] - disc_rerata_cust['Net']) / disc_rerata_cust['Bruto']
disc_rerata_cust['rerata_margin'] = (disc_rerata_cust['Net'] - disc_rerata_cust['Cogs']) / disc_rerata_cust['Net']
disc_rerata_cust['rerata_spending'] = (disc_rerata_cust['Bruto'] / disc_rerata_cust['Quantity'])
disc_rerata_cust['ATV'] = disc_rerata_cust['Net'] / disc_rerata_cust['frekuensi_transaksi']
disc_rerata_cust.sort_values(by='rerata_disc', ascending=False)
disc_rerata_cust

In [ ]:
disc_rerata_cust.nunique()

In [ ]:
disc_rerata_cust['rerata_disc'].unique()

In [ ]:
fig = plt.figure(figsize=(15, 4))

ax1 = fig.add_subplot(131)
ax2 = fig.add_subplot(132)
ax3 = fig.add_subplot(133)

ax1.scatter(disc_rerata_cust['rerata_disc'], disc_rerata_cust['rerata_spending'], c='purple')
ax1.yaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))
ax1.set_title('Distribusi Customer Berdasar Diskon VS Spending', fontsize=10)
ax1.set_xlabel('Rerata Diskon', fontsize=7)
ax1.set_ylabel('Rerata Spending', fontsize=7)
ax1.xaxis.set_tick_params(labelsize=7)
ax1.yaxis.set_tick_params(labelsize=7)

ax2.scatter(disc_rerata_cust['rerata_disc'], disc_rerata_cust['rerata_margin'], c='purple')
# ax2.yaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))
ax2.set_title('Distribusi Customer Berdasar Diskon VS Margin', fontsize=10)
ax2.set_xlabel('Rerata Diskon', fontsize=7)
ax2.set_ylabel('Rerata Margin', fontsize=7)
ax2.xaxis.set_tick_params(labelsize=7)
ax2.yaxis.set_tick_params(labelsize=7)

ax3.scatter(disc_rerata_cust['rerata_disc'], disc_rerata_cust['frekuensi_transaksi'], c='purple')
# ax3.yaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))
ax3.set_title('Distribusi Customer Berdasar Diskon VS Frekuensi Transaksi', fontsize=10)
ax3.set_xlabel('Rerata Diskon', fontsize=7)
ax3.set_ylabel('Frekuensi Transaksi', fontsize=7)
ax3.xaxis.set_tick_params(labelsize=7)
ax3.yaxis.set_tick_params(labelsize=7)
plt.show()

In [ ]:
# pengelompokan berdasar range diskon
n_grup = 5

x = []
y = []

for numerator in range(n_grup):
    if numerator == 0:
        x.append("<=" + format((numerator + 1) / n_grup, '.0%'))
        y.append(len(disc_rerata_cust[disc_rerata_cust['rerata_disc'] <= (numerator + 1) / n_grup]))
    elif numerator + 1 == n_grup:
        x.append(">" + format((numerator) / n_grup, '.0%'))
        y.append(len(disc_rerata_cust[disc_rerata_cust['rerata_disc'] > (numerator) / n_grup]))
    else:
        x.append(format((numerator) / n_grup, '.0%') + "-" + format((numerator + 1) / n_grup, '.0%'))
        y.append(len(disc_rerata_cust[(disc_rerata_cust['rerata_disc'] > numerator / n_grup) & (disc_rerata_cust['rerata_disc'] <= (numerator + 1) / n_grup)]))

plt.figure(figsize=(20, 6))
plt.bar(x,y, color='purple')
plt.grid(False)
plt.gca().spines['left'].set_visible(False)
plt.gca().spines['top'].set_visible(False)
plt.gca().spines['right'].set_visible(False)
plt.title(f'Jumlah Customer Dalam Rentang Diskon ({n_grup} Grup)')
plt.xlabel("Rentang Rerata Diskon", fontsize=12)
plt.ylabel("Jumlah Customer", fontsize=12)
plt.xticks(fontsize=8, rotation='vertical')
plt.yticks(fontsize=8)
plt.show()

### IV.c.4 ANALISA BERDASAR BRAND

#### IV.c.4.1 ANALISA TINGKAT DISKON PER BARIS TRANSAKSI PER BRAND

In [ ]:
data_disc_per_baris_by_brand = data_terpilih_diskon[['brand_m', 'discount_per_baris', 'Quantity', 'Net', 'frekuensi_transaksi']].groupby(['brand_m', 'discount_per_baris']).sum()
with pd.option_context('display.max_rows', None):
    print(data_disc_per_baris_by_brand)

#### IV.c.4.2 ANALISA TINGKAT DISKON KESELURUHAN TRANSAKSI PER BRAND

In [ ]:
data_disc_by_brand = data_terpilih_diskon[['brand_m', 'Quantity', 'Bruto', 'Net', 'Cogs', 'frekuensi_transaksi']].groupby(['brand_m']).sum()
data_disc_by_brand['discount'] = (data_disc_by_brand['Bruto'] - data_disc_by_brand['Net']) / data_disc_by_brand['Bruto']
data_disc_by_brand['margin'] = (data_disc_by_brand['Net'] - data_disc_by_brand['Cogs'])/ data_disc_by_brand['Net']
data_disc_by_brand

### IV.c.5 ANALISA BERDASAR PRODUCT DIVISION

#### IV.c.5.1 ANALISA TINGKAT DISKON PER BARIS TRANSAKSI PER PRODUCT DIVISION

In [ ]:
data_disc_per_baris_by_div = data_terpilih_diskon[['division', 'discount_per_baris', 'Quantity', 'Net', 'frekuensi_transaksi']].groupby(['division', 'discount_per_baris']).sum()
with pd.option_context('display.max_rows', None):
    print(data_disc_per_baris_by_div)

#### IV.c.5.2 ANALISA TINGKAT DISKON KESELURUHAN TRANSAKSI PER PRODUCT DIVISION

In [ ]:
data_disc_by_div = data_terpilih_diskon[['division', 'Quantity', 'Bruto', 'Net', 'Cogs', 'frekuensi_transaksi']].groupby(['division']).sum()
data_disc_by_div['discount'] = (data_disc_by_div['Bruto'] - data_disc_by_div['Net']) / data_disc_by_div['Bruto']
data_disc_by_div['margin'] = (data_disc_by_div['Net'] - data_disc_by_div['Cogs'])/ data_disc_by_div['Net']
data_disc_by_div